.container {
    background: linear-gradient(to bottom, #57d7e2, #349ecd);
    height: 22vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .logo {
    position: absolute;
    top: 15px;
    max-height: 160px;
    max-width: 160px;
    margin-right: 20px;
  }
  
  .title {
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  